<?xml version="1.0" encoding="utf-8" ?>
<Mappings  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xsi:noNamespaceSchemaLocation="http://exitoconsulting.ru/schema/CrmWebResourcesUpdater/MappingSchema.xsd">
    <!--
    EXAMPLES OF MAPPINGS:
    <Mapping localPath="scripts\contact.js" webResourceName="new_contact"/>
    <Mapping localPath="account.js" webResourceName="new_account"/>
    -->
    <Mapping localPath="Scripts\ys_AdvancedFind.html" webResourceName="ys_AdvancedFindHtml"/>
    <Mapping localPath="Scripts\ys_CommonGeneric.js" webResourceName="ys_CommonGenericJs"/>
    <Mapping localPath="Scripts\ys_CrmLoggerLog.js" webResourceName="ys_CrmLoggerLogJs"/>
    <Mapping localPath="Scripts\ys_CrmLoggerTree.html" webResourceName="ys_/CrmLogger/html/Tree.html"/>
    <!--<Mapping localPath="Scripts\ys_FetchXmlCondition.js" webResourceName="ys_Js"/>-->
    <Mapping localPath="Scripts\ys_GenericConfig.js" webResourceName="ys_/Generic/js/GenericConfigForm"/>
    <Mapping localPath="Scripts\ys_LogRibbon.js" webResourceName="ys_LogRibbonJs"/>
    <Mapping localPath="Scripts\ys_MultiSelect.html" webResourceName="ys_MultiSelectHtml"/>
    <Mapping localPath="Scripts\ys_RecurrenceRule.js" webResourceName="ys_RecurrenceRuleJs"/>
    <Mapping localPath="Scripts\ys_RecurrenceRuleException.js" webResourceName="ys_RecurrenceRuleExceptionJs"/>
    <!--<Mapping localPath="Scripts\ys_RichEditor.html" webResourceName="ys_Html"/>-->
    <Mapping localPath="Scripts\ys_RichEditor_v5.html" webResourceName="ys_/RichEditor/v5/RichEditor.html"/>
</Mappings>